<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connDB.Properties.Settings.strConexao_db_seufinanceiro"
            connectionString="Data Source=.\sqlExpress;Initial Catalog=db_seufinanceiro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>